$color-main-blue: rgb(19, 160, 216);
$color-main-green: rgb(6, 214, 92);
$color-main-gold: rgb(243, 210, 20);
$color-secondary-gold: #C5B548;
$color-main-black: rgb(15, 15, 15);
$color-main-white: #fff;
