.btn:link,
.btn:visited {
    display: block;
    width: 175px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 4rem;
    border: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 10px;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all .3s;
    overflow: hidden;
}

.btn--blk {
    background-color: rgba($color-main-black, .95);
    color: $color-secondary-gold;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    transform: translateY(-3px);
}
.btn--blk:hover {
    background-color: $color-secondary-gold;
    color:  rgb(15, 15, 15);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}
