.cards {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 120rem;
    min-width: 60rem;
    width: calc(100% - 10rem);

    @include respond(tab-port)  {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.card {
    
    height: 40rem;
    min-width: 10rem;
    max-width: 60rem;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 3s ease-in;
    margin-right: -2.25rem;
    overflow: hidden;
    cursor: pointer;
    color: $color-main-white;
    backface-visibility: hidden;

    @include respond(tab-port)  {
        clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
        margin-bottom: 1rem; 
        width: 60rem;
    }

    @include respond(phone) {
        width: 40rem;
        margin-right: 0;
    }

    &:focus {
        outline-offset: -4px;
        outline: 15px solid orange;
    }


    &:last-of-type {
        margin-right: 0;
    }

    &__banner {
        width: 100%;
        height: 25%;
        position: absolute;
        background-color: rgba(15,15,15,.6);
        z-index: -1;
        display: flex;
        flex-direction: column;
        transition: all .4s ease-in-out; 

        @include respond(phone) {
            height: 30%;
        }
    }

    &__heading {
        font-family: $font-secondary;
        padding-top: 3rem;
        margin-bottom: .5rem;
        font-size: 2.5rem;
        padding-left: 10rem;
    }

    &__text {
       padding-bottom: 1rem;
       padding-left: 10rem;
    }

    &__icon-box {
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        background-color: orange;
        height: 50%;
        width: 7.5rem;
        margin-right: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        z-index: 2;

        @include respond(tab-port)  {
            width: 10rem;
        }

        @include respond(phone) {
            height: 100%;
            width: 10rem;
            position: relative;
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        margin-bottom: 2rem;
        margin-right: 1rem;

        @include respond(tab-port)  {
            height: 3rem;
            width: 3rem;
            margin-bottom: 4.5rem;
            margin-right: 2rem;
        }

        @include respond(phone) {
            height: 5rem;
            width: 5rem;
            position: absolute;
            bottom: 6rem;
            left: 1rem;
        }
    }

    &__btn {
        align-self: flex-end;
        z-index: 5;
        position: absolute;
        bottom: 4.5rem;
        right: 2.5rem;
        height: 3rem;
        background-color: orange;
        font-size: 1.5rem;
        color: $color-main-black;

        @include respond(phone) {
            bottom: 7.5rem;
        }
    }

    &__info {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        list-style: none;
        text-align: center;
        transition: all 1s ease-in;
        text-transform: uppercase;
        padding-top: 2rem;
        width: 40rem;
        margin: 0 auto;
        letter-spacing: .5rem;
        font-family: $font-secondary;

        @include respond(phone) {
            width: 25rem;
            margin-top: 10rem;
        }
    }

    &__info li {
        padding: 1.5rem 0 1rem 0;
    }

    &__info li:not(:last-child) {
        border-bottom: 1px solid $color-main-white;
    }

     &__info-spanner {
        height: 100%;
        backdrop-filter: blur(20px);
        transition: all .4s ease-in-out;  
        padding-top: 5rem;   
    }

    &:not(.active) {

        &> div.card__banner {
            opacity: 0;
            visibility: hidden;
            display: none;
        } 
    }
}

.active {
    flex-grow: 10000;
    max-width: 80rem;
    transform: scale(1);
    clip-path: polygon(97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%, 0% 0%);
    box-shadow: 10px 10px 10px #000;
    margin-right: 0;
    margin-left: 2.25rem;

    @include respond(phone) {
        clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%); 
        height: 80rem;
        margin-left: 0;
    }

    &> div.card__banner {
        visibility: visible;
    }
}