.cards {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 120rem;
    min-width: 60rem;
    width: calc(100% - 10rem);
}

.card {
    
    height: 40rem;
    min-width: 10rem;
    max-width: 60rem;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1.5s ease-in;
    margin-right: -2.25rem;
    overflow: hidden;
    cursor: pointer;
    color: $color-main-white;
    box-shadow: 5rem 5rem 1rem $color-main-black;
    backface-visibility: hidden;

    &:last-of-type {
        margin-right: 0;
    }

    &__banner {
        width: 100%;
        height: 20%;
        position: absolute;
        background-color: rgba(15,15,15,.6);
        padding-left: 10rem;
        z-index: -1;
        display: flex;
        flex-direction: column;
        transition: all .4s ease-in-out; 
    }

    &__heading {
        font-family: $font-secondary;
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    &__text {
       padding-bottom: 1rem;
    }

    &__icon-box {
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        background-color: orange;
        height: 15rem;
        width: 7.5rem;
        margin-right: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        z-index: 2;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
    }

    &__btn {
        align-self: flex-end;
        z-index: 5;
        position: absolute;
        bottom: 2rem;
        right: 2.5rem;
        height: 3rem;
        background-color: orange;
        font-size: 1.5rem;
        color: $color-main-black;
    }

    &__info {
        display: none;
        position: relative;
        list-style: none;
        text-align: center;
        transition: all 1s ease-in;
        text-transform: uppercase;
        padding-top: 2rem;
        width: 40rem;
        margin: 0 auto;
        letter-spacing: .5rem;
        font-family: $font-secondary;
    }

    &__info li {
        padding: 1.5rem 0 1rem 0;
    }

    &__info li:not(:last-child) {
        border-bottom: 1px solid $color-main-white;
    }

     &__info-spanner {
        height: 100%;
        backdrop-filter: blur(20px);
        transition: all .4s ease-in-out;  
        padding-top: 5rem;   
    }

    &:not(.active) {

        &> div.card__banner {
            opacity: 0;
            visibility: hidden;
            display: none;
        } 
    }
}

.active {
    flex-grow: 10000;
    max-width: 80rem;
    transform: scale(1);
    clip-path: polygon(97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%, 0% 0%);
    box-shadow: 10px 10px 10px #000;
    margin-right: 0;
    margin-left: 2.25rem;

    &> div.card__banner {
        visibility: visible;
    }
}