body {
    font-family: $font-primary;
    font-size: 16px;
    color: $color-main-black;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 55.5%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 40%;
    }

    @include respond(desktop) {
        font-size: 80%;
    }
}


.heading {
    font-family: $font-secondary;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .5rem;

    @include respond(tab-port) {
        font-size: 3rem;
        letter-spacing: .25rem;
    }
}

.sub-heading {
    font-size: 2.5rem;
    letter-spacing: .25rem;
    background: linear-gradient(to bottom right, $color-secondary-blue, $color-secondary-green, $color-secondary-gold);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}