///////////////////////////////
//MARGINS
///////////////////////////////

.mrgn-top--big {
    margin-top: 10rem;
}

.mrgn-top--med {
    margin-top: 5rem;
}

.mrgn-top--sm {
    margin-top: 2.5rem;
}

.mrgn-btm--big {
    margin-bottom: 10rem;
}

.mrgn-btm--med {
    margin-bottom: 5rem;
}

.mrgn-btm--sm {
    margin-bottom: 1.5rem;
}

///////////////////////////////
//PADDING
///////////////////////////////
.pd-left--sm {
    padding-left: 5rem;
}

///////////////////////////////
//ALIGNMENT
///////////////////////////////

.text--center {
    text-align: center;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.img--up {
    object-position: bottom;
}


///////////////////////////////
//FLEXBOX
///////////////////////////////

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    @include respond(tab-port) {
        padding: 0 7.5rem;
    }

    @include respond(phone) {
        padding: 0 2rem;
    }
}

.col--2 {
    max-width: 50%;

    @include respond(tab-land) {
        padding-left: 3rem;
    }

    @include respond(tab-port) {
        max-width: 100%;
    }

   
}

///////////////////////////////
POSITIONING
///////////////////////////////

.bk-pos--cb {
    background-position: center bottom;
}

.bk-pos--c {
    background-position: center;
}

.bk-pos--custom-1 {
    background-position: 50% 60%;
}